body {
    background:rgb(20, 20, 20);
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x:hidden;
}

.background-image-container {
    filter:blur(5px) brightness(0.75);
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    background-image: url('./backgrounds/abstract-blue2.png');
    background-size: cover;
  	background-repeat: no-repeat;
    margin:0;
    padding:0;
}

.searchbar-container {
    position:absolute;
    top:35%;
    left:50%;
    transform:translate(-50%,-50%);
    height:60px;
    line-height:60px;
    width:35vw;
    margin:0;
    padding:0 30px;
    background:rgb(228, 228, 228);
    border-radius:30px;
}

.searchbar-container input {
    background:none;
    height:60px;
    line-height:60px;
    position:relative;
    float:left;
    width:90%;
    margin:0 10px;
    padding:0;
    font-size:1.5em;
    color:rgb(53, 53, 53);
    border:none;
    font-family: 'Roboto Condensed', sans-serif;
    outline:none;
}

#searchbar:focus {

	outline:none;
	border:none;
	margin:0;
	padding:0;

}

.suggestions-container {
    position:absolute;
    top:40%;
    left:50%;
    transform:translateX(-50%);
}

.suggestions-outer {
    width:calc(28vw + 80px);
    margin:0;
    padding:0;
    overflow:auto;
    background:rgb(228, 228, 228);
    border-radius:10px;
}

.suggestion {
    position:relative;
    float:left;
    width:100%;
    height:50px;
    line-height:50px;
    text-align:center;
    font-size:1.5em;
}

.suggestion a {
    text-decoration:none;
    color:rgb(53, 53, 53);
}

.suggestion-active {
    background:rgb(43, 107, 190);
}

.suggestion-active a {
    color:#eee;
}

.links-container {
    max-width:calc(28vw + 80px);
}

a.link-outer {
    display:block;
    text-decoration:none;
    position:relative;
    float:left;
    margin:10px;
    height:7vw;
    width:7vw;
}

div.link-icon {
    position: relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    height:4vw;
    width:4vw;
    border-radius:50%;
    cursor:pointer;
    transition:0.2s ease-in-out
}

div.link-icon:hover img {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:65px;
    transition:0.2s ease-in-out;
}

div.link-icon-inner {
    margin:0;
    padding:0;
    height:4vw;
    width:4vw;
    position:relative;
}

div.link-icon img {
    position:relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:55px;
    transition:0.2s ease-in-out;
}

div.link-label {
    position: relative;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    text-align:center;
    height:1.3em;
    line-height:1.3em;
    color:#eee;
    font-size:1em;
    padding-top: 25px;
}
